@import 'classic-stylesheets/layout.css';
@import 'classic-stylesheets/themes/winxp/theme.css';

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#desktop, canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#desktop {
  background-image: url('/winxp-background.jpeg');
  background-size: cover;
  background-position: center;
  font-family: var(--preferred-font);
  z-index: 2;
}

canvas {
  z-index: 1;
}

.window {
  width: 400px;
}

.title-bar-text {
  padding-left: 0;
}

.banner-image {
  width: 100%;
}

#loading-status {
  font-size: 12px;
}
